.fade-enter,.fade-appear {
  opacity: 0;
}
.fade-enter-active,.fade-appear-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.fade-enter-done {
  opacity: 1;
  color: rgb(27, 77, 141);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: 1s ease-in
}
.fade-exit-done {
  opacity: 0;
}